<!DOCTYPE html>
<html>

<head>
    <!--Import materialize.css-->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="../static/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <!-- start  -->

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">编辑</a></li>
        <li><a href="#!">注销</a></li>
        <li class="divider"></li>
        <li><a href="#!">退出</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper  teal accent-3">
            <a href="#" class="left"><i class="material-icons">whatshot</i></a>
            <a href="#!" class="brand-logo ">聘你</a>
            <ul class="right hide-on-med-and-down">
                <!-- <li><a href="badges">标签</a></li> -->
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <!-- Dropdown Trigger -->

                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">wx<i class="material-icons  right">add</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="../static/images/1.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big dream!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small dream.</h5>
                </div>
            </li>
            <li>
                <img src="../static/images/2.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Go Far Away</h3>
                    <h5 class="light grey-text text-lighten-3">Here's your dream.</h5>
                </div>
            </li>
            <li>
                <img src="../static/images/3.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Down to earth</h3>
                    <h5 class="light grey-text text-lighten-3">Here's your dream.</h5>
                </div>
            </li>
            <li>
                <img src="../static/images/5.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our distance</h3>
                    <h5 class="light grey-text text-lighten-3">Here's your distance.</h5>
                </div>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.slider').slider({
                full_width: true,
                Interval: 20
            });
        });
    </script>
    <div class="row">
      <h3 class="col s9 center">招聘职位</h3>
    </div>
    <!-- card -->
    <div class="row ">
        <div class="col s3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title " style="color:#ffab40">Java 工程师</span>
                    <p >I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href='#'>This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title" style="color:#ffab40">Python 工程师</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href='#'>This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s3" >
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title" style="color:#ffab40">大数据工程师</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href='#'>This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s2">
            <ul class="section table-of-contents tuding">
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="#structure">Structure</a></li>
                <li><a href="#initialization">Intialization</a></li>
            </ul>
        </div>


    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tuding .section').pushpin({
                top: $('.tuding').offset().top
            });
        });
    </script>
    <div class="row ">
        <div class="col s3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href='#'>This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href='#'>This is a link</a>
                </div>
            </div>
        </div>
  </div>
  <div class="row ">
      <div class="col s3">
          <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href='#'>This is a link</a>
              </div>
          </div>
      </div>

      <div class="col s3">
          <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href='#'>This is a link</a>
              </div>
          </div>
      </div>
</div>
    <!-- foot -->

    <footer class="page-footer teal accent-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">聘你</h5>
                    <p class="grey-text text-lighten-4">We provide you with the most comprehensive, best quality position, look forward to your joining!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://www.lagou.com">拉钩</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://51job.com">51job</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright WX
                <a class="grey-text text-lighten-4 right" href="#!">More</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        var options = [{
            selector: '#nav-wrapper',
            offset: 0,
            callback: 'Materialize.toast("This is our ScrollFire Demo!", 1500 )'
        }, {
            selector: '#staggered-test',
            offset: 205,
            callback: 'Materialize.toast("Please continue scrolling!", 1500 )'
        }, {
            selector: '#staggered-test',
            offset: 400,
            callback: 'Materialize.showStaggeredList("#staggered-test")'
        }, {
            selector: '#image-test',
            offset: 500,
            callback: 'Materialize.fadeInImage("#image-test")'
        }];
        Materialize.scrollFire(options);
    </script>




</body>

</html>
