{% extends "base.html" %} {% block body %}
<div class="row">
    <div class="col s7 m8 l9">
        <div class="row center-align">
            <br><br>
            <h4>信息修改</h4>
        </div>
        <!-- input info -->
        <!-- student -->
        {% if session.role == 1 %}
        <form action="{{ url_for('main.edit_info') }}" method="POST">
        <div class="row input1">
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" name="name">
                        <label for="name">Name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input2">
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="ID" type="text" class="validate">
                        <label for="ID">student ID</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input3">
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="school" type="text" class="validate">
                        <label for="school">school</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input4" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="grade" type="text" class="validate">
                        <label for="grade">grade</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input5" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="will-job" type="text" class="validate">
                        <label for="will-job">intention job</label>
                    </div>
                </div>
            </div>
        </div>

{% endif %}
        <!-- school -->
{% if session.role == 2 %}
        <div class="row input6" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="school-name" type="text" class="validate">
                        <label for="school-name">school name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input7" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="school-address" type="text" class="validate">
                        <label for="school-address">school address</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input8" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="school-desc" type="text" class="validate">
                        <label for="school-desc">school description</label>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
        <!-- company -->
{% if session.role ==3 %}
        <div class="row input9" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="company-name" type="text" class="validate">
                        <label for="company-name">company name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input9" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="company-category" type="text" class="validate">
                        <label for="company-category">company category</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input10" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="company-nature" type="text" class="validate">
                        <label for="company-nature">company nature</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input11" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="company-person" type="text" class="validate">
                        <label for="company-person">person count</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input12" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="company-address" type="text" class="validate">
                        <label for="company-address">company address</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row input13" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="company-link" type="text" class="validate">
                        <label for="company-link">web link</label>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
        <!-- goverment -->
{% if session.role == 4 %}
        <div class="row input14" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="gover-name" type="text" class="validate">
                        <label for="gover-name">goverment name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input15" >
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="gover-address" type="text" class="validate">
                        <label for="gover-address">goverment address</label>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    <div class="row hand-info">
      <div class="col s7">
          <a href="/edit-info/" class="btn green right" id="hand-info">提交<i class="material-icons right">send</i></a>
      </div>
    </div>
    </form>
    </div>
    <div class="col s5 m4 l3">

    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
