{% extends "base.html" %} {% block body %}
<div class="row">
    <div class="col s7 m8 l9">
        <div class="row center-align">
            <br><br>
            <h4>信息完善</h4>
        </div>
        <div class="row">
            <div class="col offset-s3">
                <span>请选择用户角色:</span>
            </div>
            <div class="col">
                <form action="#">
                    <span>
        <input name="group1" type="radio" id="role1" value='1'/>
        <label for="role1">毕业生</label>
      </span>
                    <span>
        <input name="group1" type="radio" id="role2" value='2'/>
        <label for="role2">高校</label>
      </span>
                    <span>
        <input name="group1" type="radio" id="role3" value='3'/>
        <label for="role3">用人单位</label>
      </span>
                    <span>
        <input name="group1" type="radio" id="role4" value='4'/>
        <label for="role4">政府单位</label>
      </span>
                </form>

            </div>
        </div>
<!-- input info -->
        <div class="row input1" style="display:none;">
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate">
                        <label for="name">Name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row input1" style="display:none;">
            <div class="col offset-s3 s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate">
                        <label for="name">Name</label>
                    </div>
                </div>
            </div>
        </div>  <div class="row input1" style="display:none;">
              <div class="col offset-s3 s6">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="name" type="text" class="validate">
                          <label for="name">Name</label>
                      </div>
                  </div>
              </div>
          </div>  <div class="row input1" style="display:none;">
                <div class="col offset-s3 s6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate">
                            <label for="name">Name</label>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col s5 m4 l3">

    </div>
</div>
<script type="text/javascript">
    $(function() {
        $(":radio").click(function() {
            if ($(this).val() == '1') {
                $(".input1").show();
            } else if ($(this).val() == '2') {
                alert('2');
            } else if ($(this).val() == '3') {
                alert('3');
            } else if ($(this).val() == '4') {
                alert('4');
            }

        });
    });
</script>
<br><br><br><br><br><br><br><br><br><br><br> {% endblock %}
