{% extends "base.html" %} {% block body %}
<script type="text/javascript" src="{{url_for('static', filename='js/manage.js')}}"></script>
<div class="row">
    <div class="col s12">
        <h3 class="center-align">综合管理系统</h3>
        <hr style="width:20%">
    </div>
    <div class="col s12 center-align ">
        <p class="user-show" style="font-size:20px;font-weight:bold;">welcome to {{session.user}}</p>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col s12 m4 l4">
        <div class="right-align nav-button">
            <a href="/manage/info-email/" class="waves-effect waves-light btn purple accent-3 center-align">
                <i class="material-icons left">email</i> 消息邮箱{{session.count[0]}}
            </a>
            <br>
            <br>
            <a href="/manage/verify/" class="waves-effect waves-light btn blue center-align">
                <i class="material-icons left">spellcheck</i> 资格审核{{session.count[1]}}
            </a>
            <br>
            <br>
            <a href="/manage/complete/" class="waves-effect waves-light btn green center-align">
                <i class="material-icons left">done</i> 已经完成{{session.count[2]}}
            </a>
            <br>
            <br>
            <a href="/manage/recruit/" class="waves-effect waves-light btn red center-align">
                <i class="material-icons left">event</i> 招聘发布{{session.count[3]}}
            </a>
            <br>
            <br>
            <a href="/manage/resume/" class="waves-effect waves-light btn orange center-align">
                <i class="material-icons left">input</i> 简历接收{{session.count[4]}}
            </a>
            <br>
            <br>
            <a href="/manage/record/" class="waves-effect waves-light btn brown center-align">
                <i class="material-icons left">dashboard</i> 备案查看{{session.count[5]}}
            </a>
            <br>
            <br>
            <a href="/manage/statistics" class="waves-effect waves-light btn green accent-3 center-align sa-btn">
                <i class="material-icons left">dns</i> 统计查看{{session.count[6]}}
            </a>
            <br>
            <br>
            <a href="/manage/release" class="waves-effect waves-light btn pink accent-3 center-align">
                <i class="material-icons left">accessibility</i> 学生发布 {{session.count[7]}}
            </a>
        </div>
    </div>
    <div class="col s12 m8 l6">
        {% if g.info_email %}
        <p class="center-align category-name">消息邮箱</p>
        {% for info in information %}
        <div class="read{{info.id}}">
            <p class="card-panel hoverable " id="item1">
                <span>{{info.in}}</span>
                <a class="item-done read-done " href="#" title="已读?"><i class="material-icons right">spellcheck</i></a>
                <a href="/read-done/{{info.id}}" class="right read-done" id="{{info.id}}">已读</a>
            </p>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".read-done").click(function() {
                    id = this.id
                    $(".read" + id).hide();
                });

            });
        </script>
        {% endfor %} {% endif %} {% if g.verify %}
        <p class="center-align category-name">高校审核</p>
        {% for verify in verifys %}
        <div>
            <p class="card-panel hoverable" id="item{{verify.id}}">

                <a class="item-done left" href="/done/{{verify.id}}" title="pass?"><i class="material-icons left">done</i></a>
                <span>{{verify.info}}</span>

                <!--a class="move right"><i class="material-icons">view_headline</i></a-->
                <a class="right delete-item" href="/delete-item/{{verify.id}}" title="not pass?"><i class="material-icons left">clear</i></a>
                <a class="edit-btn right" id="{{verify.id}}" href="#!" title="suggest?"><i class="material-icons left">mode_edit</i></a>
            </p>
            <form class="card-panel edit-form" id="form{{verify.id}}" action="/edit-item/{{verify.id}}" method="POST">
                <input placeholder="What is your suggestion?" name="body" type="text" class="validate" value="">
                <a class="waves-effect waves-light btn confirm-btn" href="/suggest/{{verify.id}}" onclick="document.getElementById('form{{verify.id}}').submit()">确定</a>
                <a class="waves-effect waves-light btn cancel-btn" href="#!">取消</a>
            </form>
        </div>
        {% endfor %} {% endif %} {% if g.complete %}
        <p class="category-name center-align">已完成任务</p>
        {% for complete in completes %}
        <div>
            <p class="card-panel hoverable" id="item{{complete.id}}">

                <a class="item-done left" href="/done/{{complete.id}}" title="done?"><i class="material-icons left">done_all</i></a>
                <del>{{complete.info}}</del>

                <!--a class="move right"><i class="material-icons">view_headline</i></a-->
                <a class="right delete-item" href="/delete-item/{{complete.id}}" title="delete it?"><i class="material-icons left">clear</i></a>
                <a class="edit-btn right" id="{{complete.id}}" href="#!"><i class="material-icons left">mode_edit</i></a>
            </p>
            <form class="card-panel edit-form" id="form{{complete.id}}" action="/edit-item/{{complete.id}}" method="POST">
                <input placeholder="What to do next?" name="body" type="text" class="validate" value="">
                <a class="waves-effect waves-light btn confirm-btn" href="suggest/{{complete.id}}" onclick="document.getElementById('form{{complete.id}}').submit()">确定</a>
                <a class="waves-effect waves-light btn cancel-btn" href="#!">取消</a>
            </form>
        </div>
        {% endfor %} {% endif %} {% if g.recruit %}
        <p class="category-name center-align">职位发布</p>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="job_name" type="text" class="validate" name="job_name">
                    <label for="job_name">职位名称</label>
                </div>
                <div class="input-field col s6">
                    <input id="salary" type="text" class="validate" name="job_salary">
                    <label for="salary">薪资</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="job_address" type="text" class="validate" name="job_address">
                    <label for="job_address">工作地点</label>
                </div>
                <div class="input-field col s6">
                    <input id="job_record" type="text" class="validate" name="job_record">
                    <label for="job_record">学历要求</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="job_experience" type="text" class="validate" name="job_experience">
                    <label for="job_experience">经验要求</label>
                </div>
                <div class="input-field col s6">
                    <input id="job_desc" type="text" class="validate" name="job_desc">
                    <label for="job_desc">职位描述</label>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col s3 offset-s4">
                <a href="/recruit-send/" class="waves-effect waves-light btn teal darken-1 right">
                    <i class="material-icons right">send</i> 发布
                </a>
            </div>
        </div>
        {% endif %} {% if g.resume %}
        <p class="category-name center-align">简历查看</p>
        {% for resume in resumes %}
        <div>
            <p class="card-panel hoverable" id="item{{resume.id}}">

                <a class="item-done left" href="/done/{{resume.id}}" title="done?"><i class="material-icons left">done_all</i></a>
                <del>{{resume.info}}</del>

                <!--a class="move right"><i class="material-icons">view_headline</i></a-->
                <a class="right delete-item" href="/delete-resume/{{resume.id}}" title="delete it?"><i class="material-icons left">clear</i></a>
                <a class="edit-btn right" id="{{resume.id}}" href="#!"><i class="material-icons left">mode_edit</i></a>
            </p>
            <form class="card-panel edit-form" id="form{{resume.id}}" action="/edit-resume/{{resume.id}}" method="POST">
                <input placeholder="What to do next?" name="body" type="text" class="validate" value="">
                <a class="waves-effect waves-light btn confirm-btn" href="suggest/{{resume.id}}" onclick="document.getElementById('form{{resume.id}}').submit()">确定</a>
                <a class="waves-effect waves-light btn cancel-btn" href="#!">取消</a>
            </form>
        </div>
        {% endfor %} {% endif %} {% if g.record %}
        <p class="category-name center-align">备案查看</p>
        {% for record in records %}
        <div>
            <p class="card-panel hoverable" id="item{{record.id}}">

                <a class="item-done left" href="/done/{{record.id}}" title="done?"><i class="material-icons left">done_all</i></a>
                <del>{{record.info}}</del>

                <!--a class="move right"><i class="material-icons">view_headline</i></a-->
                <a class="right delete-item" href="/delete-resume/{{record.id}}" title="delete it?"><i class="material-icons left">clear</i></a>
                <a class="edit-btn right" id="{{record.id}}" href="#!"><i class="material-icons left">mode_edit</i></a>
            </p>
            <form class="card-panel edit-form" id="form{{record.id}}" action="/edit-resume/{{record.id}}" method="POST">
                <input placeholder="What to do next?" name="body" type="text" class="validate" value="">
                <a class="waves-effect waves-light btn confirm-btn" href="suggest/{{record.id}}" onclick="document.getElementById('form{{record.id}}').submit()">确定</a>
                <a class="waves-effect waves-light btn cancel-btn" href="#!">取消</a>
            </form>
        </div>
        {% endfor %} {% endif %} {% if g.statistics %}
        <div style="width: 620px;height:400px;" id="main"></div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div style="width: 620px;height:400px;" id="main1"></div>
        <script type="text/javascript">
            var myChart1 = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            option1 = {
                title: {

                    text: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['2014届', '2013届', '2012届', '2011届', '2010届']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: '2014届',
                    type: 'line',
                    stack: '总量',
                    data: [120, 132, 101, 134, 90, 230, 210]
                }, {
                    name: '2013届',
                    type: 'line',
                    stack: '总量',
                    data: [220, 182, 191, 234, 290, 330, 310]
                }, {
                    name: '2012届',
                    type: 'line',
                    stack: '总量',
                    data: [150, 232, 201, 154, 190, 330, 410]
                }, {
                    name: '2011届',
                    type: 'line',
                    stack: '总量',
                    data: [320, 332, 301, 334, 390, 330, 320]
                }, {
                    name: '2010届',
                    type: 'line',
                    stack: '总量',
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart1.setOption(option1);

        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('main1'));

        // 指定图表的配置项和数据
        option2 = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:['直达','营销广告','搜索引擎','邮件营销','联盟广告','视频广告','百度','谷歌','必应','其他']
    },
    series: [
        {
            name:'访问来源',
            type:'pie',
            selectedMode: 'single',
            radius: [0, '30%'],

            label: {
                normal: {
                    position: 'inner'
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:335, name:'直达', selected:true},
                {value:679, name:'营销广告'},
                {value:1548, name:'搜索引擎'}
            ]
        },
        {
            name:'访问来源',
            type:'pie',
            radius: ['40%', '55%'],

            data:[
                {value:335, name:'直达'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1048, name:'百度'},
                {value:251, name:'谷歌'},
                {value:147, name:'必应'},
                {value:102, name:'其他'}
            ]
        }
    ]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);
    </script>
        </script>

        {% endif %}
        <!-- ecahrt -->

    </div>
</div>
<br>
<br>
<br> {% endblock %}
