<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block head %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<div class="jumbotron" align="center">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div style="margin:0 auto; width:40%;font-size:20px" >
<table   class="table" style="border=0; text-align:center" align="center">
{% for job in jobs %}
<tr>
    <td ><span style="color:#04dd98">{{job.name}}</span></td>
    <td ><span style="color:#04dd98">{{job.company}}</span></td>

</tr>
<tr>
  <td ><span style="color:red">{{job.salary}}</span></td>
  <td ><span style="color:#505453">{{job.coom}}</span></td>
</tr>
 {% endfor %}
 </table>
<div>
{% endblock %}
</html>
